.*.swp
*.la
*.lo
*.o
*.d
.dirstamp
.deps/
.libs/
build/
bin/

*-stamp

tachyontest
libtachyon.so
libtachyon.a
alluxiotest
liballuxio.so
liballuxio.a

# Autotool stuff
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
config.log
config.lt
config.status
configure
depcomp
libtool
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
